@charset "utf-8";
/* CSS Document */
* {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
#baslik {
	
	font-size:32px;
	background-color: cadetblue;
	text-align: center;

	width: 100%;
	height: 100px;
}
.tanitim {
	text-align: center;
	font-size:16px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
	color: black;
}
 .rezervasyon a:link, a:active {
	background-color: chocolate;
	color:black;
	border:2px solid white;
	padding: 25px 0px 25px 0px;
	margin:5px 0px 5px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 20px;
}
.rezervasyon a:hover, a:visited {
	background-color:#FF3A03;
	color:white;
	border:2px solid #FF3A03;
}
.section div a:link, a:active{
	width:425px;
	height: 250px;
	border:1px solid #ccc;
	float:left;
	margin:8px;
	text-align: center;
}
.section div a:hover, a:visited{
border: 1px solid red;
}
.section div a {
	text-decoration: none;
}
.section div img {
	width: 425px;
	height: 220px;
}
.bilgi {
	text-align: center;	

}
.box4 {
	width: 425px;
	height:30px;
	border:1px solid darkblue;
	float:left;
	margin:8px;
	vertical-align: middle;
	background-color: darkblue;
	color:white;
}

.box5{
	width: 425px;
	height:30px;
	border:1px solid darkblue;
	float:left;
	margin:8px;
	vertical-align: middle;
	background-color: darkgreen;
	color: white;
}
.box6{
	width: 425px;
	height:30px;
	border:1px solid darkblue;
	float:left;
	margin:8px;
	vertical-align: middle;
	background-color: orange;
	color: white;
}
.footer {
	width:100%;
	height:50px;
	border: 1px solid black;
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;
	font-size: 10px;
	background-color: lightpink;
}
.footer p {
	text-align: center;
	vertical-align: middle;
}